/* Common */
body {
  font-family: "NanumSquare", "sans-serif";
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header */
.App header {
  width: 100%;
  background: #10559a;
}
.App header .inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.App header .logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
}

.App header .icon-github {
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-size: 22px;
  color: #fff;
}
.App header .icon-github:hover {
  color: #db4c77;
}

/* contents */
.App .contents .top .month {
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
}
.App .contents .top .btn {
  display: block;
  margin-left: auto;
  background: transparent;
  padding: 0 20px;
  color: #db4c77;
  font-size: 20px;
  cursor: pointer;
}

.App .contents .post {
  display: flex;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.App .contents .post .left {
  width: 5%;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}
.App .contents .post .date {
  padding-top: 10px;
  font-size: 20px;
}
.App .contents .post .diary {
  display: flex;
  align-items: center;
  width: 100%;
  border-left: none;
  padding: 10px;
  margin: 14px 0;
}

.input-box {
  display: flex;
  padding: 0 20px 20px;
}
.input-box input {
  width: 80%;
  padding: 20px;
  font-family: "NanumSquare", "sans-serif";
}
.input-box button {
  width: auto;
  flex-grow: 1;
  background: #db4c77;
  border: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}
