/* Common */
body {
  font-family: "NanumSquare", "sans-serif";
}
li {
  list-style: none;
}

/* header */
.App header {
  display: flex;
  width: 100%;
  background: #311b92;
  padding: 20px;
}

.App header .logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* contents */
.App .contents .month {
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
}
.App .contents .post {
  display: flex;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.App .contents .post .left {
  width: 5%;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}
.App .contents .post .date {
  padding-top: 10px;
}
.App .contents .post .diary {
  display: flex;
  align-items: center;
  width: 100%;
  border-left: none;
  padding: 10px;
  margin: 14px 0;
}
